*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito_Sans', sans-serif;
    margin: 0;
    
}


img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    height: 10vh;
    /* margin: 0 auto; */
  }
 

.background-degrade{
    background: linear-gradient(-45deg, rgb(177, 45, 50),rgb(141, 141, 141), rgb(141, 141, 141), rgb(177, 45, 50)) no-repeat;
    animation: gradient 10s ease-in-out infinite;
    background-size: 300% 300%;
    font-family: 'Nunito_Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
    font-size: 300%;
}

@keyframes gradient {
    0%{
        background-position: 0.50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100%{
        background-position: 0.50%;
    }
}
/*---------Texto animado do Background  degradê -------*/
.text-animation{
    border-right: 2px solid rgb(255, 255, 255, .75);
    color: rgba(255, 255, 255, .75);
    font-family: "Special Elite", monospace;
    font-size: 1em;
    text-align: center;
    height: 11vh;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.typing-animation{
    animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}
@keyframes blinkCursor {
    from{
    border-color: rgba(255, 255, 255, .75);
    }
    to{
    border-right-color: transparent;
    }
}

@keyframes typing {
    from{
    width: 0;
    }
    to{
    width: 10em;
    }
}
